<div class="row playerRow" [ngClass]="playerHeat(player.avg)">
    <div class="col-4 name">
        [ {{ player.scores.length }} ]
        <span (click)="playerDetails()">
            <fa-icon icon="chevron-right" *ngIf="!viewDetails"></fa-icon>
            <fa-icon icon="chevron-down" *ngIf="viewDetails"></fa-icon>
            {{ player.name }} - {{ player.position }}
        </span>
    </div>
    <div class="col number"><button (click)="update(player.name, 0)">0</button></div>
    <div class="col number"><button (click)="update(player.name, 1)">1</button></div>
    <div class="col number"><button (click)="update(player.name, 2)">2</button></div>
    <div class="col number"><button (click)="update(player.name, 3)">3</button></div>
    <div class="col avg">{{ player.avg | number : '1.0-2' }}</div>
</div>
<div class="row playerDetails" *ngIf="viewDetails">
    {{ player.scores | json }}
</div>