.playerRow {
    font-family: 'Industry';
    height: 40px;
    line-height: 40px;
    background: #efefef;
    .col-6 {
        padding: 0 0 0 5px;
        height: 40px;
        line-height: 42px;
        border: 1px solid #001689;
        border-radius: 4px 0 0 4px;
        fa-icon {
            font-size: 10px;
        }
    }
    .col {
        padding: 0;
        height: 40px;
        text-align: center;
        button {
            height: 40px;
            width: 100%;
            border: 1px solid #001689;
            outline: none;
        }
    }
    .avg {
        font-weight: bold;
        color: #fff;
        background: #001689;
        line-height: 42px;
        border-radius: 0 4px 4px 0;
    }
}
.playerDetails {
    margin: 0 2px 10px 2px;
    padding: 4px;
    font-size: 12px;
}