.footer {
    margin: 0;
    padding: 15px 15px 10px 15px;
    color: #fff;
    background: #001689;
    position: relative;
    z-index: 1000;
    h1 {
        font-size: 16px;
    }
    h4 {
        font-size: 12px;
    }
}