.navWrapper {
    margin: 0;
    padding: 0 15px;
}
.buttonAddPlayer {
    height: 30px;
    color: #fff;
    background: #ff5100;
    border: none;
}
.inputPlayer {
    padding: 0 0 0 5px;
    height: 30px;
    border: 1px solid #666;
    border-right: none;
    border-radius: 4px 0 0 4px;
}
.dropdown {
    width: 100%;
}
.dropDownPostions {
    height: 30px;
    border: 1px solid #666;
    border-right: none;
    border-radius: 0;
}
.buttonAdd {
    height: 30px;
    border: 1px solid #666;
    border-radius: 0 4px 4px 0;
}
.teamAvg {
    padding: 0;
    height: 30px;
    display: flex;
    align-items: center;
    h4 {
        margin: 0;
        font-size: 18px;
        font-family: 'IndustryBI';
    }
}
.undo {
    padding: 0;
    color: #ff5100;
    text-align: right;
    button {
        height: 30px;
        border-radius: 4px;
        border: 1px solid #666;
    }
}
.alert{
    font-family: 'IndustryBI';
    text-transform: uppercase;
}