<div class="navWrapper">
    <div class="row">
        <div class="col form-group">
            <button class="button" class="buttonAddPlayer" (click)="addPlayer()" [disabled]="toggleAddPlayer">ADD PLAYER</button>
        </div>
    </div>
    <div class="row" *ngIf="toggleAddPlayer">
        <div class="col-7 form-group">
            <input type="text" class="inputPlayer" #newPlayer placeholder="Type In Player"/>
        </div>
        <div class="col-3 form-group">
            <div ngbDropdown class="d-inline-block">
                <button class="dropDownPostions" #newPosition ngbDropdownToggle>{{ selectPositionTitle }}</button>
                <div ngbDropdownMenu aria-labelledby="newPosition">
                  <button ngbDropdownItem *ngFor="let p of positions" value="{{ p }}" (click)="selectedPosition(p)">{{ p }}</button>
                </div>
              </div>
        </div> 
        <div class="col-2 form-group" (click)="addPlayerToArray(newPlayer.value, selectPositionTitle)">
            <button class="button" class="buttonAdd">ADD</button>
        </div>    
    </div>
    <ngb-alert *ngIf="alertNoPosition" type="danger" (closed)="closeAlertNoPosition()">Please select position</ngb-alert>
    <div class="row" *ngIf="players.length">
        <div class="col teamAvg">
            <h4>Team Passing Avg: {{ teamAvg | number : '1.0-2'}}</h4>
        </div>
    </div>
    <app-player *ngFor="let player of players; let i = index" [player]="player" (updatePlayersArray)="updatePlayers(player)"></app-player>
</div>