.navWrapper {
    margin: 0;
    padding: 0 15px;
}
.buttonOrange {
    height: 30px;
    color: #fff;
    background: #ff5100;
    border: none;
}
.inputPlayer {
    padding: 0 0 0 5px;
    height: 30px;
    border: 1px solid #666;
    border-right: none;
    border-radius: 4px 0 0 4px;
}
.dropdown {
    width: 100%;
}
.dropDownPostions {
    height: 30px;
    border: 1px solid #666;
    border-right: none;
    border-radius: 0;
}
.buttonAdd {
    height: 30px;
    border: 1px solid #666;
    border-radius: 0 4px 4px 0;
}
.teamAvg {
    padding: 0;
    height: 30px;
    display: flex;
    align-items: center;
    h4 {
        margin: 0;
        font-size: 18px;
        font-family: 'IndustryBI';
    }
}
.undo {
    padding: 0;
    text-align: right;
    button {
        margin: 0 0 0 10px;
        height: 30px;
        color: #ff5100;
        border-radius: 4px;
        border: 1px solid #666;
    }
}
.finalOutput {
    margin: 10px 0;
    padding: 10px;
    background: #eee;
    border-radius: 4px;
    border: 1px solid #001689;
    p {
        span {
            display: block;
        }
        .name {
            font-size: 21px;
            font-family: 'IndustryBI';
        }
        .info {
            font-size: 14px;
        }
    }
}
.alert{
    margin: 10px 0;
    padding: 5px;
    height: 30px;
    font-size: 14px;
    font-family: 'IndustryBI';
    text-transform: uppercase;
}
.closeAlert {
    margin: 0 0 0 5px;
    float: right;
}
.alertMsg {
    span {
        margin: 0 5px;
        float: right;
    }
}
.actions {
    padding: 0;
        .col {
            padding: 0;
            fa-icon {
                float: right;
            }
        }
}
.scoreInfo {
    position:relative;
    pointer-events: none;
    z-index: 50;
    .overlay {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: rgba(255,255,255,.75);
        z-index: 100;
    }
}