.navWrapper {
    margin: 0;
    padding: 0 15px;
}
.buttonAddPlayer {
    height: 30px;
    color: #fff;
    background: #ff5100;
    border: none;
}
.inputPlayer {
    padding: 0 0 0 5px;
    height: 30px;
    border: 1px solid #666;
    border-right: none;
    border-radius: 4px 0 0 4px;
}
.dropdown {
    width: 100%;
}
.dropDownPostions {
    height: 30px;
    border: 1px solid #666;
    border-right: none;
    border-radius: 0;
}
.buttonAdd {
    height: 30px;
    border: 1px solid #666;
    border-radius: 0 4px 4px 0;
}
.teamAvg {
    text-align: center;
    h4 {
        margin: 0;
        font-size: 18px;
        font-family: 'IndustryBI';
    }
}
// .alert {
//     margin: 0;
//     padding: 8px;
//     font-size: 14px;
//     font-family: 'IndustryBI';
// }
// .alert-dismissible .close {
//     padding: 6px !important;
// }