<div class="navWrapper">
    <div *ngIf="startNewRound">
        <div class="row">
            <div class="col form-group">
                <button class="button buttonBlue" (click)="createNewRound('customRound')">NEW ROUND - CUSTOM</button>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <div ngbDropdown class="d-inline-block">
                    <button class="buttonBlue" ngbDropdownToggle>{{ selectTeam }}</button>
                    <div ngbDropdownMenu aria-labelledby="selectTeam">
                    <button ngbDropdownItem *ngFor="let t of teams" value="{{ t.name }}" (click)="createNewRound(t.name)">{{ t.name }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ngb-alert *ngIf="alertAddPlayer" [dismissible]="false" type="danger" class="alertMsg">
        {{ alertMsg }}
        <div *ngIf="alertAddPlayerMsg" class="closeAlert" (click)="isDone(false)">
            <fa-icon icon="times"></fa-icon>
        </div>
        <ng-container *ngIf="!alertAddPlayerMsg">
            <span (click)="isDone(false)">NO</span>
            <span (click)="isDone(true)">YES</span>
        </ng-container>
        
    </ngb-alert>
    
    <div *ngIf="enterInfo">
        <div class="row">
            <div class="col form-group">
                <button class="button buttonRed" (click)="cancelButton()">CANCEL</button>
            </div>
        </div>
        <div class="row">
            <div class="col-6 form-group">
                <input type="text" class="inputLeft"  [(ngModel)]="evtLocation" placeholder="Enter Location"/>
            </div>
            <div class="col-3 form-group">
                <div ngbDropdown class="d-inline-block">
                    <button class="dropDownPostions" ngbDropdownToggle>{{ evtType }}</button>
                    <div ngbDropdownMenu aria-labelledby="newPosition">
                    <button ngbDropdownItem *ngFor="let e of eventTypes" value="{{ e }}" (click)="selectedEventType(e)">{{ e }}</button>
                    </div>
                </div>
            </div>
            <div class="col-3 form-group">
                <div ngbDropdown class="d-inline-block">
                    <button class="dropDownPostions dropdownRight" ngbDropdownToggle>{{ evtDesc }}</button>
                    <div ngbDropdownMenu aria-labelledby="newPosition">
                    <button ngbDropdownItem *ngFor="let e of eventDescription" value="{{ e }}" (click)="selectedEventDescription(e)">{{ e }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="customPlayers" class="row">
            <div class="col-7 form-group">
                <input type="text" class="inputLeft" [(ngModel)]="customPlayer" (focus)="onFocusPlayerInput()" placeholder="Type In Player"/>
            </div>
            <div class="col-3 form-group">
                <div ngbDropdown class="d-inline-block">
                    <button class="dropDownPostions" ngbDropdownToggle>{{ selectPosition }}</button>
                    <div ngbDropdownMenu aria-labelledby="newPosition">
                    <button ngbDropdownItem *ngFor="let p of positions" value="{{ p }}" (click)="selectedPosition(p)">{{ p }}</button>
                    </div>
                </div>
            </div> 
            <div class="col-2 form-group" (click)="addPlayerToArray(customPlayer, selectPosition)">
                <button class="button" class="buttonAdd">ADD</button>
            </div>    
        </div>
        <div *ngIf="players.length" class="row">
            <div class="col-8 colHd">Name</div>
            <div class="col colHd">Position</div>
            <div class="col colHd">&nbsp;</div>
        </div>
        <div *ngFor="let player of players; let i = index" class="row playerInfo">
            <div class="col-8">{{ player.name }}</div>
            <div class="col">
                <div ngbDropdown class="d-inline-block">
                    <button class="dropDownEdit" ngbDropdownToggle>{{ player.position }}</button>
                    <div ngbDropdownMenu aria-labelledby="newPosition">
                    <button ngbDropdownItem *ngFor="let p of positions" value="{{ p }}" (click)="editPlayerPosition(player, p)">{{ p }}</button>
                    </div>
                </div>
            </div>
            <div class="col deletePlayer">
                <fa-icon icon="trash" (click)="removePlayer(i)"></fa-icon>
            </div>
        </div>
        <div *ngIf="players.length" class="row">
            <div class="col form-group">
                <button class="button buttonOrange" (click)="startTracking()">START TRACKING</button>
            </div>
        </div>
    </div>
    <div *ngIf="beginRound">
        <app-nav [players]="players" [evtLocation]="evtLocation" [evtType]="evtType" [evtDesc]="evtDesc" (createNewRound)="createNewRound($event)" (cancelButton)="cancelButton()" [alertAddPlayer]="alertAddPlayer"></app-nav>
    </div>
    
</div>